<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Adicione um item </title>
</head>
<body>
    <h1>Adicione um Item: </h1>
    <form action="/novoitem" method="POST">
        <input type="text" id="item" name="nome" required>
        <input type="submit">
    </form>
</body>
</html>